use flake

# auto-setup project
export MIX_HOME="$PWD/.nix-shell/mix"
export HEX_HOME="$PWD/.nix-shell/hex"
export MIX_ARCHIVES="$MIX_HOME/archives"

export ERL_AFLAGS="-kernel shell_history enabled"
export LANG=en_US.UTF-8

if ! test -d assets/node_modules && test -f assets/package.json; then
  cd assets && npm install && cd ..
fi

if ! test -d $MIX_HOME; then
  mix local.hex --force
  mix local.rebar --force
  mix archive.install hex phx_new --force
fi
