use flake

# auto-setup project
LOCAL_PATH=$(pwd -P)
export NIX_SHELL_DIR=$LOCAL_PATH/.nix-shell

test -d $NIX_SHELL_DIR && mkdir -p $NIX_SHELL_DIR

export MIX_HOME="$NIX_SHELL_DIR/.mix"
export HEX_HOME="$NIX_SHELL_DIR/.hex"
export MIX_ARCHIVES="$MIX_HOME/archives"

if ! test -d ./node_modules && test -f package.json; then
  yarn install
fi

if ! test -d $MIX_HOME; then
  mix local.hex --force
  mix local.rebar --force
  mix archive.install hex phx_new --force
fi
