use flake

# auto-setup project
export MIX_HOME="$PWD/.nix-shell/mix"
export HEX_HOME="$PWD/.nix-shell/hex"
export MIX_ARCHIVES="$MIX_HOME/archives"

export LANG=en_US.UTF-8
export ERL_AFLAGS="-kernel shell_history enabled"

if ! test -d deps && test -d mix.exs; then
  mix deps.get
fi

if ! test -d assets/node_modules && test -f assets/package.json; then
  cd assets && npm install && cd ..
fi

if ! test -d $MIX_HOME; then
  mix local.hex --force
  mix local.rebar --force
  mix archive.install hex phx_new 1.7.6 --force
fi

export DATABASE_USER="postgres"
export DATABASE_PASS="postgres"
export DATABASE_NAME="project_dev"

export PGDATA="$PWD/.postgres/data"
export PGLOG="$PWD/.postgres/server.log"

if [[ ! -d "$PGDATA" ]]; then
  initdb --auth=trust --no-locale --encoding=UTF8 -U=$DATABASE_USER >/dev/null

  echo "unix_socket_directories = '$PWD/.postgres'" >> "$PGDATA/postgresql.conf"
  echo "CREATE USER $DATABASE_USER SUPERUSER;" | postgres --single -E postgres
  echo "CREATE DATABASE $DATABASE_NAME;" | postgres --single -E postgres
fi
