dotenv_if_exists
use flake

# auto-setup project
LOCAL_PATH=$(pwd)
export NIX_SHELL_DIR=$LOCAL_PATH/.nix-shell
export EXERCISM_CONFIG_HOME=$NIX_SHELL_DIR/exercism

test -d $NIX_SHELL_DIR && mkdir -p $NIX_SHELL_DIR

export GOPATH="$NIX_SHELL_DIR/.go"
export GO111MODULE="on"

#exercism
if [[ ! -f $EXERCISM_CONFIG_HOME/user.json ]]; then
    if [[ -v EXERCISM_TOKEN ]]; then
        exercism configure --token=$EXERCISM_TOKEN -w $LOCAL_PATH
    else
        echo "No exercism token found. Please set the EXERCISM_TOKEN environment variable."
    fi
fi
